#right-click-options{
    width: 300px;
    height: 360px;
    display: none;
    padding: 20px;
    color: #444;
    position: fixed;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0,0,0,.4);
}

.animate-right-click{
    animation: rightClick .2s;
}

@keyframes rightClick{
    from{
        height: 0;
    }
    to{
        height: 360px;
    }
}